title: qDrive0's Blog
email: dongkyukim00@gmail.com
description: >-
  Welcome to my blog! Here, I share updates and progress on my personal ongoing
  projects, as well as insights into my journey as a developer. Stay tuned for
  exciting content and behind-the-scenes looks at what I'm working on!
  Let's connect and explore the world of coding together!
baseurl: ""
url: ""
github_username:  qDrive0

# Build settings
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
